.console-output {
font-family: 'JetBrains Mono Regular', 'Cascadia Code' !important;
font-size: 15px;
}


span {
font-family: 'JetBrains Mono Regular', 'Cascadia Code', 'ADaQianZiBi';
}


pre,
div,
body,
code,
input,
td,
font,
a,
li {
font-family: 'FontAwesome','Source Emoji', 'JetBrains Mono Regular', 'ADaQianZiBi' !important;
}


注释:"ADaQianZiBi"为字体名称，修改对应的字体修改名称即可。
作者：百度 Mactype贴吧"多兰的妖术"
连接：https://tieba.baidu.com/p/7419944051
